[[plugins]]
repo = 'Shougo/dein.vim'

[[plugins]]
repo = 'neoclide/coc.nvim'
rev = 'release'
on_i = 1
merged = '0'

[[plugins]]
repo = 'sheerun/vim-polyglot'
hook_add = '''
" let g:polyglot_disabled = ['typescript', 'elixir']
'''

[[plugins]]
repo = 'tpope/vim-fugitive'

[[plugins]]
repo = 'tpope/vim-surround'

[[plugins]]
repo = 'tpope/vim-commentary'

[[plugins]]
repo = 'editorconfig/editorconfig-vim'

[[plugins]]
#repo = 'cocopon/iceberg.vim'
repo = 'chriskempson/base16-vim'
hook_add = '''
set background=dark
au MyAutoCmd VimEnter * nested colorscheme base16-default-dark
'''

[[plugins]]
repo = 'junegunn/fzf'
build_on = '''
./install --all
'''
merged = '0'

[[plugins]]
repo = 'junegunn/fzf.vim'
depends = 'fzf'

[[plugins]]
repo = "takac/vim-hardtime"
hook_add = '''
" let g:hardtime_default_on = 1
'''
